@page
@attribute [Authorize]
@model Portfolio.Web.Pages.Projects.FiberFlow.DashboardModel
@{
    ViewData["Title"] = "FiberFlow Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/fiberflow.css" />
<div class="theme-root">
    <!-- KPI Cards Row -->
    <div class="row mb-4">
        <div class="col fiber-kpi-card" id="fiber-kpi-active-shipments"></div>
        <div class="col fiber-kpi-card" id="fiber-kpi-open-orders"></div>
        <div class="col fiber-kpi-card" id="fiber-kpi-low-stock"></div>
        <div class="col fiber-kpi-card" id="fiber-kpi-mtd-revenue"></div>
    </div>
    <!-- Map and Charts -->
<div class="row">
    <div class="col-7">
        <div id="fiberDashboardMap" class="theme-surface"></div>
    </div>
    <div class="col-5">
        <div id="revenueChart"></div>
        <div id="statusChart"></div>
        <div id="topClientsChart"></div>
    </div>
</div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/dark/main.css" />
    <script src="https://js.arcgis.com/4.30/"></script>
    <script src="~/js/FiberFlow/fiberflow-dashboard.js"></script>
}
