@page
@attribute [Authorize]
@model Portfolio.Web.Pages.Projects.FiberFlow.InventoryModel
@{
    ViewData["Title"] = "FiberFlow Inventory";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/fiberflow.css" />
<div class="theme-root">
    <div class="mb-3" id="fiberInventorySummary"></div>
    <div id="fiberInventoryGrid"></div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="~/js/FiberFlow/fiberflow-inventory.js"></script>
}
