@page
@attribute [Authorize]
@model Portfolio.Web.Pages.Projects.FiberFlow.OrdersModel
@{
    ViewData["Title"] = "FiberFlow Orders";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/fiberflow.css" />
<div class="theme-root">
    <div id="fiberOrdersGrid"></div>
    <div class="fiber-order-drawer" id="fiberOrderDrawer"></div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/dark/main.css" />
    <script src="https://js.arcgis.com/4.30/"></script>
    <script src="~/js/FiberFlow/fiberflow-orders.js"></script>
}
