@page
@attribute [Authorize]
@model Portfolio.Web.Pages.Projects.FiberFlow.ShipmentsModel
@{
    ViewData["Title"] = "FiberFlow Shipments";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/fiberflow.css" />
<div class="theme-root d-flex" style="height:100vh;">
    <div class="p-3" style="width:35%;">
        <div id="fiberShipmentsGrid"></div>
    </div>
    <div style="width:65%;">
        <div id="fiberShipmentMap"></div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2024.1.1112/styles/kendo.bootstrap-v4.min.css" />
    <script src="https://kendo.cdn.telerik.com/2024.1.1112/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/dark/main.css" />
    <script src="https://js.arcgis.com/4.30/"></script>
    <script src="/js/fiberflow-shipments.js"></script>
}
