@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "GIS Feature Explorer";
}
<link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css" />
<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>GIS Feature Explorer</h1>
    </div>
    <div class="mb-3">
        <input type="text" id="featureFilter" class="form-control" placeholder="Filter features by name..." />
    </div>
    <div id="mapView" style="height: 500px; width: 100%;"></div>
    <div id="featureList" class="mt-4"></div>
</div>
<script src="https://js.arcgis.com/4.28/"></script>
<script src="~/js/gis.js"></script>