@page
@using Portfolio.Web.Pages.Projects
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Projects";
}
<div class="container py-5">
    <h1 class="mb-4">Project Categories</h1>
    <div class="row g-4">
        <div class="col-md-6 col-lg-4">
            <a href="/Projects/StateExplorer/Index" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">US State Explorer</h5>
                        <p class="card-text">Explore, compare, and save U.S. states using interactive GIS tools.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
